@{
    ViewData["Title"] = "Home Page";
}
@section Style{
    <style>
        h1{
            background-color:red;
        }
        .wrap{
            width:1500px;
           
            display:flex;
            flex-wrap:wrap;
        }
        div{
            width:300px;

        }
       


    </style>


}
<div class="wrap"></div>
@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    <ul id="myUl"></ul>*@
   @* <div class="card text-center">*@



@*
  <div class="card-header">
    Featured
  </div>
  <div id="con"class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary"></a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>*@

@section Scripts{
    <script>
        //$(".display-4").text('hi Ajax');
        //const theUl = document.querySelector('#myUl');



                 //   const emps = [{"name":"Tom","workYears":3,"salary":35000},
             //                {"name":"Jack","workYears":5,"salary":40000},
             //                {"name":"Mary","workYears":7,"salary":45000}];
             // //讀取JSON資料
             // // [ 0,1,2] => 陣列，透過 Index 讀取資料
             // //{屬性:屬性值,key:value} => 物件.屬性 => 屬性值
             //   //console.log(emps[1]);  //{"name":"Jack","workYears":5,"salary":40000}
             //   //console.log(emps[1].name);  //Jack
             //   //console.log(emps[1].salary);  //40000
             //   for(let i=0,max=emps.length;i<max;i++){
             //       console.log(emps[i].name);
             //       console.log(emps[i].workYears);
             //       console.log(emps[i].salary);
             //   }

      //  const emp = {
      //      "employees": [
      //          { "name": "Tom", "workYears": 3, "salary": 35000 },
      //          { "name": "Jack", "workYears": 5, "salary": 40000 },
      //          { "name": "Mary", "workYears": 7, "salary": 45000 }
      //      ]
      //  };
      //  console.log(emp.employees);
      //  //const { name, workYears, salary } = emp.employees[i]; 新打法
      //  for(let i =0,max=emp.employees.length;i<max;i++ ){
      //      console.log(emp.employees[i].name)
      //      console.log(emp.employees[i].workYears)
      //      console.log(emp.employees[i].salary)
       
      //  var name=emp.employees[i].name;
      //  //資料的顯示  DOM
      //  //建立 li 元素節點 <li>
      //const eleLi =document.createElement("li");
      //  //建立文字節點 name
      //const txtLi=document.createTextNode(name);
      //  //將文字節點加到元素節點中 <li>name</li>
      //  eleLi.appendChild(txtLi);
      //  //將li加到ul中 <ul><li></ul>
      //  theUl.appendChild(eleLi);
                        //}
        //emp.employees.forEach((value, index, array)=>{
        //    const { name, workYears, salary } =value;
        //    console.log(name);
        //})
        //const theUl = document.querySelector('#myUl');
        
        //let datas = emp.employees.map((emp, index, array) => {
        //    const { name, workYears, salary } = emp;
        //    return (`<li>${name} - ${salary}</li>`);
        //})
        //theUl.innerHTML = datas.join("");
        //emp.employees.forEach((value,index,array)=>{
        //    const {name,workYears,salary}=value;
        //    //console.log(salary);
        //});
        //console.log(DATAS)
        var data=DATAS;
        //console.log(data);
        //var datazeroname = data[0].Name;
        //console.log(datazeroname);
        for (let i = 0; max = data.length; i++) {
        let card = document.createElement('div');
        card.className='card text-center';
       
        document.querySelector('.wrap').appendChild(card);






        let cardHead = document.createElement('div');
            cardHead.className = 'card-header';
            let cardheadtxt = document.createTextNode(data[i].Name);
            cardHead.appendChild(cardheadtxt);
            card.appendChild(cardHead);



        let cardBody = document.createElement('div');
            cardBody.className = 'card-body';
            let cardBodytxt = document.createTextNode(data[i].Toldescribe);
            cardBody.appendChild(cardBodytxt);
            card.appendChild(cardBody);

        let cardfooter=document.createElement('div');
            cardfooter.className='card-footer text-muted';
            let cardfootertxt = document.createTextNode(data[i].Ticketinfo);
           
        
            cardfooter.appendChild(cardfootertxt);
            card.appendChild(cardfooter);
         //  <div class="card text-center">
         //  <div class="card-header">
         //       data[i].Name
         //   </div>
         //   <div class="card-body">
          
         //   <p class="card-text">data[i].Toldescribe</p>
         
         //</div>
         //<div class="card-footer text-muted">
         //<a href="#" class="btn btn-primary">data[i].Website</a>
         //</div>
         //</div>




        }
        



    </script>


}

